<configuration timestamp="2020-08-19T22:44:38.529896600Z">
<base uri="https://s3.amazonaws.com/docs.update4j.org/demo/business" path="${user.dir}/business"/>
<properties>
<property key="maven.central" value="https://repo1.maven.org/maven2"/>
</properties>
<files>
<file uri="https://raw.githubusercontent.com/jose-anthony-par/hrsystem_updates/refs/heads/main/HRMain.jar" classpath="true" ignoreBootConflict="true" size="1696592" checksum="3812b62"/>
</files>
</configuration>