<configuration timestamp="2020-08-19T22:44:38.529896600Z">
<base uri="https://s3.amazonaws.com/docs.update4j.org/demo/business" path="${user.dir}/business"/>
<properties>
<property key="maven.central" value="https://repo1.maven.org/maven2"/>
</properties>
<files>
<file uri="https://github.com/jose-anthony-par/hrsystem_updates/blob/main/HRMain.jar" classpath="true" ignoreBootConflict="true"/>
</files>

</configuration>
